*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Barlow;
}

body
{
    background-color: white;  
    color: gray;  
}

nav
{
    vertical-align: center;
    padding: 0 20px;
    background-color: white;
    position: sticky;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

nav:hover
{
    cursor:default;
}

#nav-inner
{
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

#nav-inner h3
{
    color: black;
}

#nav-inner span
{
    color: red;
}

#nav-inner i
{
    margin: 0 0px 0 10px;
}

a
{
    color: initial;
    text-decoration: none;
}

#nav-menu-mobile
{    
    position: absolute;
    width: 100%;    
    height: 90px;
    left: 0;
    background-color: white;
    flex-direction: column;
    align-items: center;
    row-gap: 10px; 
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
}

#menu-button-mobile:hover
{
    cursor: pointer;
}

#menu-button-mobile
{
    display: none;
}

#nav-menu-desktop
{
    column-gap: 20px;
    display: flex;
}

@media screen and (max-width:900px) {
    #menu-button-mobile
    {
        display: block;
    }
    #nav-menu-desktop
    {
        column-gap: 20px;
        display: none;
    }
}

@media screen and (min-width:901px) {
    #nav-menu-mobile
    {
        display: none !important;
    }
}

main
{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}

#temple-img
{
    margin: 0px auto;
    width: 90%;
    max-height: 300px;
    object-fit:cover;
}

#title-box
{
    font-size: 40px;
    position: absolute;
    top: 200px;
    width: 250px;
    height: 180px;
    background-color: white;    
    display: flex;
    justify-content: center;
    text-decoration-color: red;
    text-decoration: underline;
    animation-duration: 2s;
    animation-name: slidein;
    color: black;
}

#title-box h3
{
    align-self: center; 
    align-content: center;
    justify-content: center;   
}


#text-content
{
    margin: 30px 100px;
    font-size: 20px;
}


@keyframes slidein {
    from {
      margin-left: 5%;
    }
  
    to {
      margin-left: 0%;
    }
}

#arrows
{
    margin-right: 30px;
    width: 200px;
    height: 50px;
    align-self: flex-end;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#arrows i:hover
{
    transform: scale(1.5);
    cursor: pointer;
}

#line
{
    height: 100%;
    width: 1px;
    background-color: gray;
}
